<div class="contact">
  <h2>Contact</h2>
  <ul>

    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Pune , India 🇮🇳</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+91 77208 81651</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:varadtote1412@gmail.com">varadtote1412@gmail.com</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://varadtote.github.io">varadtote.github.io</a></li>
  </ul>
</div>
